@import "tailwindcss";
@plugin "daisyui";
.roboto{
  font-family: "Roboto", sans-serif;

}
.plus{
  font-family: "Plus Jakarta Sans", sans-serif;

}
.lightbg{
  background-color: white;
}
.bgprime{
  background-color: #1e40af;
}
.bgdash{
  background-color: #254EDB;
}